@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
  .maxwidth{
    max-width: 1300px;
    padding: 0 80px; 
    margin: auto;
}
.nav-bar{
  position:fixed;
  width: 85%;
  height: 15%;
  margin: auto;
  z-index: 999;
  padding: 30px 0px;
  font-family: 'Ubuntu' , sans-serif;
  transition: all 0.3s ease;
}
.nav-bar .maxwidth{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-bar .logo img{
    width: 100px;
    cursor: pointer;
}
.nav-bar .menu li{
    list-style: none;
    display:inline-block;
}
.nav-bar .menu li a{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}



.home{
    display: flex;
    background-color: rgb(24, 24, 24) ;
    background-position: top left;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu' , sans-serif;
}
.home .max-width{
    margin: auto 0 auto 50px;
}
